@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --bg: #afd095;
  --border: #b85c00;
  --fondclair: #fff5ce;
  --fondfonce:#d8a254;
  --text: #54666d;
  --textfonce: #b85c00;
  --shadow: #dce6ec;
  --btn: #a6bcf6;
}

#color-mode:checked ~ * {
--bg: #0d1454cc;
--border: #1f36c9;
--fondclair: #1f2322;
--fondfonce: #8e9294;
--text: #d6dfe3;
--textfonce: #fb8106;
--shadow: #dce6ec;
--btn: #2962fe;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;    
font-family: 'Roboto', sans-serif;    
}

body{
background-color:navy;
height: 100%;
display: flex;
}

.light-mode-hide {
display: none;
}

.color-mode{
display: none;
}


h2{
text-align: center;
margin: 20px 0 20px 0;
justify-content: center;
}

h3{
font-size: 1.3rem;
margin-bottom: 10px;
text-decoration: underline ;
}

h4{
color:  var(--textfonce);
font-size: 1.1rem;
margin-bottom: 5px;
margin-left: 20px;
}

.main{
display: flex;
width: 100%;
height: 100%;
background-color: var(--bg);
color: var(--text);
}

.contenair{
display: flex;
position: relative;    
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
flex-wrap: wrap;
background-color: var(--fondclair);
border: 3px solid var(--border);
border-top: none;
border-bottom: none;
padding: 0 2% 0 2%;
Margin: 0 5% 0 5%;
}
  /*******************************/

  #color-mode:checked ~ * {
    --bg: black;
    --text: white;
  }
  
  .color-scheme-wrapper {
    min-height: 100vh;
    background: var(--bg);
    color: var(--text);
  }
  
  .light-mode-hide {
    display: none;
  }
  
  .color-mode{
    display: none;
  }

  input[type="checkbox"] {
    opacity: 0.00001;
    position: absolute;
  }
  label {
    cursor: pointer;
    position: absolute;
    background: var(--text);
    color: var(--bg);
    padding: 1rem;
    top: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 2px var(--bg), 0 4px var(--text);
    user-select: none;
  }
  
  input[type="checkbox"]:focus + label {
    outline: 2px solid red;
    outline-offset: 4px;
  }
  
  label:active {
    transform: translateY(1px);
    box-shadow: 0 1px var(--bg), 0 3px var(--text);
  }
  
  label:after {
    content: "✔\FE0E";
    height: 1.2rem;
    width: 1.2rem;
    margin-left: 1rem;
    border: solid 2px var(--bg);
    text-align: center;
    border-radius: 4px;
    color: transparent;
  }
  
  #color-mode:checked + label:after {
    color: var(--bg);
  }

  /***************************/
  
  .menu{
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
    border: 3px solid var(--border);
    border-top: none;
    background-color: var(--fondfonce);
    box-shadow: 0 35px 40px rgba(0, 0, 0, 0.40);
    border-radius: 0 0 10px 10px;
    z-index: 10;
}

#toggleMode{
    visibility: hidden;
}

.toggleDark,
.toggleLight{
    cursor: pointer;
    position: absolute;
    z-index: 2;
}

.toggleDark{
    color: #222;
}

.toggleDark:hover{
    color: blue;
  }

  .toggleLight{
    color: white;
  }

  #toggleMode:checked ~ .toggleDark{
    display: none;
  }

  #toggleMode:checked ~ .toggleLight{
    display: block;
  }
  
  #toggleMode:checked ~ *{
    --bg: #020202;
    --border: #111413;
    --fondclair: #1f2322;
    --fondfonce: #8e9294;
    --panel-text: #505456;
    --btn: #2962fe;
  }



.burger
.patronime{
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: space-around;
}


.prenom,
.prenomcourt{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 2rem;
    margin: 5px;
} 

.prenomcourt{
  display: none;
}

/*************************** burger menu *******************************/


#menu__toggle {
  right: 10px;
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0% !important;
}
.menu__btn {
  display: flex;
  position: relative;
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -200%;
  width: 200px;
  height: fit-content;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  border-radius: 20px;
  box-shadow: 0 35px 40px rgba(0, 0, 0, 0.40);
  transition-duration: .5s;
  background-color: var(--fondfonce);
  border:3px solid var(--border);
  text-decoration: none;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: var(--fondclair);
}

.monkey{
  width: 100%;
  border-radius: 20px;
}

.expeencepro{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px;
}

.formations{
  width: 100%;
}

.formcard {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  gap: 50px 30px;
  z-index: 0;
  }

  .formcard .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid var(--border);
    border-radius: 20px;
    width: 200px;
    height: 160px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.40);
    background-color: #afd095;
    padding: 10px 0 10px 0;
    overflow: hidden;
    transition: 0.5s;   
  }

  .formcard .card:hover {
    height: 280px;
    width: 200px;
  }

  .formcard .card .imgBx {
    align-content: flex-start;
    height: 75px;
}

.formcard .card .contentcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8px 0 0 0 ;
}

.formcard .card .contentcard .haut{
  align-content: flex-end;
  height: 90px;   
}

.formcard .card .contentcard p{
    margin: 0;
}

.formcard .card .contentcard a{
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: var(--fondclair);
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  height: 25px;
  width: 100px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 35px 40px rgba(0, 0, 0, 0.40);
}

.competences{
  width: 80%;
}

.competences .imgdevweb{
  display: flex;
  margin: 20px 0 20px 0;
  justify-content: space-around;
}

.competences img{
  max-width: 40px;
}

.texttab{
  margin-left: 4%;
}

.contact{
  margin-top: 5rem;
  display: flex;
  background-color: var(--bg);
  border: 3px solid var(--border);
  border-radius: 20px;
  box-shadow: 0 35px 40px rgba(0, 0, 0, 0.30);
}

.contact .aboutme,
.contact .contactme{
  margin-top: 10px;
  padding: 10px 0 0  10px ;
  width: 100%;
}
.contact .aboutme p{
  margin: 0 10% 10px 10%;
}

.contact .aboutme .images{
  display: flex;
  justify-content: space-around;
}

.contact .aboutme a img{
  height: 40px;
}

.contact .contactme a{
  display: flex;
  text-decoration: none;
  margin: 0 10% 10px 10%;
  align-items: center;
}

.contact .contactme a img{
  height: 30px;
  margin-right: 10%;
}

.copyright{
  width: 100%;
  text-align: center;
}

@media (max-width: 1000px){
  .prenom{
    visibility: none;
  }
}

@media (max-width: 966px){
  .prenom{
    display: none;
  }
  .prenomcourt{
    display: block;
  }
  
}

@media (max-width: 500px){
  
  .contenair{
    padding: 0;
    margin: 0;
  }
  .contact{
    padding: 10px;
    flex-wrap: nowrap;
    flex-direction: column;
  }  
}

/*********************** séparateur **********************/

.separateur{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.petit{
  width: 20%;
}

.grand{
  width: 35%;
}

.petit, .grand{
  display: flex;
  border: 3px solid var(--border);
  border-radius: 50%;
  align-items: center;
  margin: 10px;
  box-shadow: 0 35px 40px rgba(0, 0, 0, 0.40);
}
